.content {
  width: 1200px;
  margin: 0 auto;
}
.ml-20 {
  margin-left: 20px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.roll::-webkit-scrollbar {
  width: 10px;
}
/* 滚动槽 */
.roll::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* 滚动条滑块 */
.roll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.box::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

.tXtOverFlow {
  overflow: hidden; // 超出的文本隐藏
  text-overflow: ellipsis; // 溢出用省略号显示
  display: -webkit-box; // 将对象作为弹性伸缩盒子模型显示。
  -webkit-line-clamp: 1; // 这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。
  -webkit-box-orient: vertical;
}
.tXtOverFlow2 {
  overflow: hidden; // 超出的文本隐藏
  text-overflow: ellipsis; // 溢出用省略号显示
  display: -webkit-box; // 将对象作为弹性伸缩盒子模型显示。
  -webkit-line-clamp: 2; // 这个属性不是css的规范属性，需要组合上面两个属性，表示显示的行数。
  -webkit-box-orient: vertical;
}

.clearFloat::after {
  clear: both;
  display: block;
  content: '';
}
